
.image-zoom-effect{
    transition: 0.3s;
} 
.image-zoom-effect:hover {
    transform: scale(1.1);
}
.img-wrapper1 {  
    overflow: hidden; 
}
.bg-gradiant {
    background-image: linear-gradient(to bottom right,#b5c0cb ,#f7f7f7);
}
.bg-gradiant1 {
    background-image: linear-gradient(to top right,#b5bec9 ,#f7f7f7);
}